<!DOCTYPE html>
<html>	
	<head>			
	</head>			
	<body>		
		<html lang="en">
			<title>Schrödinger's Portfolio</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			/* Style the body */
			body {
				font-family: Arial;
				margin: 0;
				background-image: url('https://64.media.tumblr.com/c0e23fe2d07dad2c7f75f41f1eada374/6f72a86996fafb07-1b/s250x400/c7c84417e5de4523528f7eb989fba4705f49f062.jpg') ;	
			}/* Page Content */
			.content {
				padding:10px;
			}/*this is the logo*/
	</style>
	<center>	
		<img src='https://64.media.tumblr.com/dd0df8969bb24b0450d47924cc07abd5/51712e38b26dd7e7-c8/s1280x1920/a29d9cc3c530f2f0607758558d85a909993e2130.png'>
	</center>	
	<style>
	#vcontainer {
		display: table;
		height: 100%;
		width: 100%;
		min-height: 400px;
	}
	#hcontainer {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}#content {
		display: inline-block;
		border: red 20px solid;
		background-color: #fcf8ea  ;
		text-align: center ;
		font-size: 20px;  
		width: 800px;
		height: 320px;
	} 
	</style>

	<style>
	.button {
		background-color: #9cd92a; /* Green */
		border: none;
		color: white;
		padding: 15px 102px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 2px 2px;
		cursor: pointer;
	}
	</style> 
	<div id="vcontainer">
		<div id="hcontainer">  
			<div id="content">  
				<br>  
				<br>   
				<br>    
				Do you ever think about how much money you <strong>could've, would've</strong> made<br> if you invested in stocks years ago?<br></br>		
				Well, using Schrödinger's Portfolio, a web application<br> 
				inspired by the theoretical physics thought experiment, <a href="https://en.wikipedia.org/wiki/Schrödinger%27s_cat" style="color:#FF0000;">Schrödinger's Cat</a> , our website Schrödinger's Portfolio allows you to be an investor <br>without investing!<br></br>		
				<center>	
    				<form method="post" action="/start">
					<input id="test" value = "Enter" type="submit"  class="button"/><br></br>
    				</form>
				</center>		
			</div>     
		</div>
	</div>				
	</body>	
</html>
