<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cat Portfolio </title>
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html>	
	<head>			
	</head>			
	<body>		
		<html lang="en">
			<title>Page Title</title>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
			/* Style the body */
			body {
				font-family: Arial;
				margin: 0;
				background-image: url('https://64.media.tumblr.com/c0e23fe2d07dad2c7f75f41f1eada374/6f72a86996fafb07-1b/s250x400/c7c84417e5de4523528f7eb989fba4705f49f062.jpg') ;	
			}/* Page Content */
			.content {
				padding:10px;
			}/*this is the logo*/
	</style>
	<center>	
		<img src=https://64.media.tumblr.com/7ad5d53204e9d5ddd5b249d92329ad96/8071c19c8701a9ba-fa/s1280x1920/88634b91ecf81aed88fc2d3b0d28301ebbc1c377.png>
	</center>	
	<style>
	#vcontainer {
		display: table;
		height: 100%;
		width: 100%;
		min-height: 400px;
	}
	#hcontainer {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}#content {
		display: inline-block;
		border: red 20px solid;
		background-color: #fcf8ea  ;
		text-align: center ;
		font-size: 20px;  
		width: 800px;
		height: 500px;
	} 
	</style>

	<style>
	.button {
		background-color: #9cd92a; /* Green */
		border: none;
		color: white;
		padding: 10px 60px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 20px;
		margin: 2px 2px;
		cursor: pointer;
	}
	</style> 
	<div id="vcontainer">
		<div id="hcontainer">  
			<div id="content">  
				<body>
				<center>	
    				<form method="post" action="/portfolio">
					<h3> Your Balance: </h3>
					<input name="balance" type="number" value="0"/><br>
					<h3> Start Date: </h3>
					<input name="start_date" type="date" value="2013-01-08"/><br>
					<h3> End Date: </h3>
					<input name="end_date" type="date" value="2021-01-23"/><br><br>
					<input class="button" id="test" value="go" type="submit"/><br></br>
   				</form>
    				<form method="get" action="/">
					<input class="button" value="back" type="submit"/><br></br>
    				</form>
				
				(Our theoretical portfolio can let you go back in time, but it wont let you buy on weekends)
				</center>		
				</body>
			</div>     
		</div>
	</div>				
	</body>	
</html>
